<main>
    <h1>CREAR PELÍCULA</h1>
    <form action="../admin/crearMovie/nueva" method="post">
        <p>Crea una película nueva</p>
        <label for="titulo">Título</label>
        <input type="text" placeholder="Título" name="titulo">
        <label for="image">.jpg</label>
        <!-- <input type="image" placeholder="Imagen:" name="imagen"> -->
        <label for="genero"></label>
        <input type="text" placeholder="Género:" name="genero">
        <label for="anio"></label>
        <input type="text" placeholder="Año:" name="anio">
        <label for="director"></label>
        <input type="text" placeholder="Director:" name="director">
        <label for="duracion"></label>
        <input type="text" placeholder="Duración" name="director">
        <button type="submit" id="creaPeli" class="btn">Añadir película</button>
    </form>
</main>