<%- include ('templates/adminHeader.ejs') %>
<%- include('templates/adminNav.ejs') %>
    
        <main>
            <h2><%= titulo %></h2>
            <form action="../admin/crearMovie/nueva" method="post" enctype="multipart/form-data">
                <p>Crea una película nueva</p>
                <label for="titulo">Título:</label>
                <input type="text" placeholder="título" name="titulo" id="tituloId">
                <label for="image">Imagen:</label>
                <input type="file" placeholder="Imagen:" name="uploaded_file">
                <label for="genero">Género:</label>
                <input type="text" placeholder="género" name="genero">
                <label for="anio">Año:</label>
                <input type="text" placeholder="año" name="anio">
                <label for="director">Director:</label>
                <input type="text" placeholder="director" name="director">
                <label for="duracion">Duración:</label>
                <input type="text" placeholder="duración" name="director">
                <button type="submit" id="crearPeli" class="btn">Añadir película</button>
            </form>
        </main>

        <%- include ('templates/adminFooter.ejs') %>