<%- include('templates/header.ejs') -%>
<%- include('templates/adminNav.ejs') %>

<main>
    <h1>Eliminar película</h1>
    <form action="" method="" enctype="multipart/form-data">
        <p>¿Estás seguro de querer eliminar la película?</p>
        
        <button type="submit" id="crearPeli" class="btn">Sí, estoy seguro</button>
    </form>
</main>

<%- include ('templates/footer.ejs') %>