
<%- include('templates/adminNav.ejs') %>
<%- include('templates/adminHeader.ejs') -%>

<main>
    <h2>Eliminar película</h2>

    <form action="" method="" enctype="multipart/form-data">
        <p>¿Estás seguro de querer eliminar la película?</p>
        
        <button type="submit" id="crearPeli" class="btn">Sí, estoy seguro</button>
    </form>
</main>
<%- include ('templates/adminFooter.ejs') %>