<input type="submit" id="incioSesion" class="btn">Iniciar Sesion</input>
<input type="submit" id="creaCuenta" class="btn">Crear cuenta</input>
        <main>
            <h2>ERROR 404</h2>
            <p>Algo salió mal.</p>
        </main>
      