<%- include ('templates/header.ejs', {
    titulo: "ERROR 404",
    descripcion: "Algo salió mal"
}) %>
<main>
    <button class="btn"><a href="/">Iniciar sesion</a></button>
    <button class="btn"><a href="/signup">Crear cuenta</a></button>
</main>

<%- include ('templates/footer.ejs')  %>