<%- include('templates/nav.ejs') %>
<%- include ('templates/header.ejs') %>
    <main>
        <h2><%= titulo %></h2>
        
        <input type="text" placeholder="Buscar peli...">
        <button type="submit" class="btn">Buscar</button>

    </main>
<%- include ('templates/footer.ejs') %>