<main>
    <button class="btn"><a href="/">Iniciar sesion</a></button>


    <form id="nuevaCuenta" action="" method="post">
        <p>Crea nueva cuenta.</p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="usuario@dominio.com" required />
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Tu nombre" required />
        <label for="password">Contraseña:</label>
        <input type="password" name="pass" placeholder="XXXXXX" required />
        <label for="passConfirm">Confirmar contraseña:</label>
        <input type="password" name="passConfirm" placeholder="XXXXXX" required />

        <input type="submit" id="creaCuenta" class="btn">Crear cuenta</input>
    </form>
</main>