<%- include ('templates/header.ejs') %>
<main>
    <button class="btn"><a href="/signup">Crear cuenta</a></button>

    <form id="tieneCuenta" action="/api/v1/auth/login" method="post">
        <p>Inicia sesion.</p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="usuario@dominio.com" required />
        <label for="password">Contraseña:</label>
        <input type="password" name="pass" placeholder="XXXXXX" required />

        <input type="submit" id="iniciaSesion" class="btn" value="Iniciar sesion"></input>
    </form>
</main>
<%- include ('templates/footer.ejs')  %>