<main>
    <button class="btn"><a href="">Crear cuenta</a></button>

    <form id="tieneCuenta" action="" method="post">
        <p>Inicia sesion.</p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="usuario@dominio.com" required />
        <label for="password">Contraseña:</label>
        <input type="password" name="pass" placeholder="XXXXXX" required />

        <input type="submit" id="incioSesion" class="btn">Iniciar sesion</input>
    </form>
</main>