* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}