<nav>
    <div class="bur-menu" id="burger-menu">
        <span></span>
    </div>
    <div class="div-menu" id="menu">
        <ul>
            <li><a class="aNav" href="/crear">Modificar lista</a></li>
            <li><a class="aNav" href="/">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>